# Dependencies
/node_modules
/.pnp
.pnp.js

# Build & cache
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Env (ne pas committer les secrets)
.env
.env.local
.env.*.local

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# Vercel
.vercel

# IDE
.idea
.vscode
*.swp
*.swo

# Coverage & tests
/coverage
